<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated Rota</title>
    <style>
        body { font-family: Arial, sans-serif; font-size: 12px; }
        table { width: 100%; border-collapse: collapse; margin: 20px 0; }
        th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
        th { background-color: #f4f4f4; }
        h1, h2 { text-align: center; }
        .org-details { text-align: center; margin-bottom: 20px; }
        .disclaimer { margin-top: 20px; font-size: 10px; text-align: center; }
    </style>
</head>
<body>
  {% include "doc_header.html" %}
    <h1>Generated Rota</h1>
    {% if start_date and end_date %}
        <h2>Rota for Period: {{ start_date.strftime('%d/%m/%Y') }} - {{ end_date.strftime('%d/%m/%Y') }}</h2>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>Week</th>
                <th>Day-shift (8 AM - 5 PM)</th>
                <th>Evening shift (5 PM - 8 PM)</th>
                <th>Night-shift (8 PM - 8 AM)</th>
                <th>Night Off</th>
            </tr>
        </thead>
        <tbody>
            {% for rota in rotas %}
                <tr>
                    <td>{{ rota.week_range }}</td>
                    <td>{{ rota.shift_8_5 }}</td>
                    <td>{{ rota.shift_5_8 }}</td>
                    <td>{{ rota.shift_8_8 }}</td>
                    <td>{{ rota.night_off }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="disclaimer">
        This is a system generated rota. Kindly talk to the in-charge for any queries.
    </div>
        <div class="footer">
        <p>© <b>Magic Rota</b> All rights reserved.</p>
    </div>
</body>
</html>